<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Occupation</h1>
    <form action='/updateoccupation/<%=specificOccupationalData._id%>?_method=PUT'>
        <label>Title:
            <input type="text" title="title" required="true"
            value="<%occupation%>">
        </label>
        <button> Submit </button>   
    </form>
    
</body>
</html>