<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit Occupation</h1>
    <form action='/updateoccupation/<%=specificOccupationalData._id%>?_method=PUT'>
        <div>
            <label>Title:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.title%>">
            </label>
        </div>    
        <div>
            <label>Description:
                <input type="text" required="true"
                value="<%specificOccupationalData.description%>">
            </label>
        </div>
        <div>
            <label>Training:
                <input type="text" required="true"
                value="<%specificOccupationalData.training%>">
            </label>
        </div>
        <div>
            <label>Wage:
                <input type="text" required="true"
                value="<%specificOccupationalData.wage%>">
            </label>
        </div>
        <div>
            <label>VideoUrl:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.videoUrl%>">
            </label>
        </div>
        <div>
            <label>Expert:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.expert%>">
            </label>
        </div>
        <div>
            <label>ExpertName:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.expert.name%>">
            </label>
        </div>
        <div>
            <label>Title:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.title%>">
            </label>
        </div>
        <div>
            <label>Title:
                <input type="text" title="title" required="true"
                value="<%specificOccupationalData.title%>">
            </label>
        </div>
        <button> Submit </button>   
    </form>
    
</body>
</html>