<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Welcome to Hard Hat Academy!</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
    <h1>Browse through our video list and find your passion!</h1>
   
    <h2>We Are the MasterClass for Good Paying Blue Collar Jobs!</h2>
        
    <h3>Hard Hat Academy is the app that helps people looking for good paying blue collar
        jobs find one that matches their talents and interests
    </h3> 
    <p>Just Choose an Occupation and watch a video from one of our experts to learn about What
        it's really like to work in that occupation, what it pays, and how you can get in on it!</p>
    <h3>
        <ul class="occupations">
        <%for (let i = 0; i < Object.keys(occupations).length; i++) {%>
            <li>
                <%console.log(occupations[i].title) %>
                <a href='/explore/<%= occupations[i]._id %>' ><%= occupations[i].title %></a>
            </li>      
      <%  } %>
        </ul>  


</body>
</html>