<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <h1>Show Page</h1>

    <ul>
        <% users.forEach(function(user){ %>
          <%- include('views/show', {seedExperts: seedExperts}); %>
        <% }); %>
      </ul>
</body>
</html>